.left_menu {
  box-sizing: border-box;
  width: 305px;
  height: calc(100vh - 44px);
  padding-top: 30px;
  position: fixed;
  transition: left 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fafafa;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  transform: translateX(-300px);
  transition: all 0.3s ease-out;
}

.btn_toggle {
  display: block;
  transform: translateX(0px);
  transition: all 0.3s ease-in;
}

.left_menu_inner {
  padding-right: 18px;
  padding-left: 18px;
  gap: 16px;
  width: 304px;
}

.top_menu {
  outline: none !important;
  box-sizing: border-box;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: inherit;
  background-color: transparent;
  display: block;
  list-style-type: disc;
  list-style: none;
  margin-block-start: 0.6em;
  margin-block-end: 1em;
}

.filter_inbox {
  outline: none !important;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  font-size: 14px;
  font-family: inherit;
}

.sidebar_list_item {
  --menu-button-width: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;

  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: inherit;
  vertical-align: baseline;
  background-color: transparent;
  list-style: none;

  text-align: -webkit-match-parent;
}

.single_item_wrapper {
  padding-right: 2px;
  max-width: 100%;
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: inherit;
  vertical-align: baseline;
  background-color: transparent;
  list-style: none;
}

.item_link {
  width: 88%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.item_link:hover {
  background-color: #ececec;
}

.single_item_content {
  width: 24px;
  height: 24px;
}

.item_today_svg {
  color: #058527;
  margin-right: 5px;
}

.item_next_svg {
  color: #692fc2;
}

.single_item_align {
  width: 100%;
  display: flex;
  align-items: center;
}
