.empty_state_holder {
  position: relative;
  max-width: 360px;
  margin: auto;
  text-align: center;
  transition: opacity 0.17s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;

  display: none;
}

.show_init_holder {
  display: block;
}

.img_box {
  box-sizing: border-box;

  width: 350px;
  height: 350px;

  margin-top: 50px;
  margin-bottom: 20px;
}

.empty_state {
  position: relative;
  max-width: 360px;
  margin: auto;
  text-align: center;
  transition: opacity 0.17s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty_state_message {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 20px;
}

.empty_state_body {
  line-height: 1.5;
  font-size: 14px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

img {
  border: 0;
  vertical-align: middle;
}
